/* GENERALI */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

body{
  font-family: 'Open Sans', sans-serif;
}

/* utility */
.float-left{
  float: left;
}

.float-right{
  float: right;
}

.container{
  width: 65%;
  margin: 0 auto;
}

h1, h2, h3, h4{
  font-family: 'Open Sans', sans-serif;
}

/**** HEADER  ****/
nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: blue;
}

.jumbotron{
  width: 100%;
  height: 519px;
  margin-top: 50px;
  background-color: #B4D0E7;
}

.jumbo-container{
  width: 75%;
  margin: 0 auto;
}

.jumbo-container h1{
  font-size: 55px;
  padding-top: 50px;
}

.jumbo-container .description{
  width: 320px;
  margin-top: 30px;
  font-size: 13px;
}

.float-right img{
  width: 620px;
  margin-top: 30px;
}

/**** MAIN  ****/
.piano-dropbox h2{
  margin-top: 150px;
  font-size: 30px;
}

.rb{
  margin-top: 30px;
  font-size: 10px;
}

.rb input{
  vertical-align: middle;
}

.rb label{
  margin-right: 10px;
}

.piano-box{
  float: left;
  display: inline-block;
  width: calc(90% / 3);
  margin: 3% 5% 0 0;
  height: 500px;
  background-color: red;
}

.piano-box:last-child{
  margin-right: 0;
}

.singolo, .team{
  border: 1px solid grey;
  text-align: center;
  padding: 5px;
}

