/* GENERALI */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

body{
  font-family: 'Open Sans', sans-serif;
}

/* utility */
.float-left{
  float: left;
}

.float-right{
  float: right;
}

.container{
  width: 65%;
  margin: 0 auto;
}

h1, h2, h3, h4{
  font-family: 'Open Sans', sans-serif;
}

.box{
  float: left;
  display: inline-block;
  width: calc(90% / 3);
  margin-right: 5%;
  margin-top: 20px;
  background-color: red;
}

.singolo, .team{
  border: 1px solid grey;
  text-align: center;
  padding: 5px;
}

.box:last-child{
  margin-right: 0;
}


/**** HEADER  ****/
nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: blue;
}

.jumbotron{
  width: 100%;
  height: 519px;
  margin-top: 50px;
  background-color: #B4D0E7;
}

.jumbo-container{
  width: 75%;
  margin: 0 auto;
}

.jumbo-container h1{
  font-size: 55px;
  padding-top: 50px;
}

.jumbo-container .description{
  width: 320px;
  margin-top: 30px;
  font-size: 13px;
}

.float-right img{
  width: 620px;
  margin-top: 30px;
}

/**** MAIN  ****/
.piano-dropbox h2{
  margin-top: 150px;
  font-size: 30px;
}

.rb{
  margin-top: 30px;
  font-size: 10px;
}

.rb input{
  vertical-align: middle;
}

.rb label{
  margin-right: 10px;
}

.piano{
  height: 500px;
}

/* enterprise */
.enterprise{
  margin-top: 20px;
}

.enterprise-content{
  border: 1px solid grey;
  border-top: 0;
}

/* partner */
.partner{
  margin-top: 100px;
}
.partner .float-left img{
  width: 50%;
}

/* operazioni */
.operazioni{
  margin-top: 50px;
}

.row .box{
  height: 250px;
}

/* utilizzatori */
.utilizzatori{
  margin-top: 150px;
}

.utilizzatori h2{
  width: 50%;
}

.utilizzatori p{
  margin: 20px 0;
}

/* partner-description */
.designit{
  width: 200px;
  height: 200px;
  background-color: #A2D39B;
}


